<div class="top-bar">
	<div class="row">
		<div class="show-for-medium medium-1 columns">&nbsp;</div>
		<div class="medium-10 columns end">
			<h4 class="menu">
				<span data-responsive-toggle="site-menu" data-hide-for="medium">
					<button class="menu-icon dark" type="button" style="margin-bottom:3px;" data-toggle></button>&nbsp;&nbsp;&nbsp;&nbsp;
				</span>
				<a href="{{ .Site.BaseURL }}">{{ .Site.Params.companyname }}</a>
			</h4>
			<ul class="menu vertical medium-horizontal" id="site-menu">
				{{ $thisNode := . }} 
				{{ range .Site.Menus.main }}
					{{ if $thisNode.IsMenuCurrent "main" . }}
						<li class="active"><a href="{{ .URL }}">{{ .Pre }}{{ .Name }}</a></li>
					{{ else }}
						<li><a href="{{ .URL }}">{{ .Pre }}{{ .Name }}</a></li>
					{{ end }}
				{{ end }}
			</ul>
		</div>
	</div>
</div>
